
.natepad{
    width: 600px;
    border: 2px solid black;
}
.notepad-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .notepad-container h2 {
    text-align: center;
  }
  
  .notepad-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .notepad-actions button {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
  }
  .resume-editor-container {
    display: flex;
    flex-direction: column;
    width:50vw;
    height: 100vh;
    border:2px solid black;
  }
  
  .resume-editor-actions {
    display: flex;
    /* justify-content: space-between; */
    padding: 10px;
  }
  .top{
    background-color: #008080;
    width: 50vw;
    padding: 5px;
   display: flex;
   color: white;
   justify-content: space-between   ;
   padding: 10px 20px;
   align-items: center;
  }
  .top svg{
    margin-left: 10px;
  }
  .main-con{
    display: flex;
  }
  .pdf-preview{
    width: 50vw;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f1f1f1;
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 10px;
  }

  @media (max-width: 768px) {
    
    .main-con{
      flex-direction: column-reverse;
      gap: 20px;
    }
    .top{
      width: 100%;
    }
    .ace_editor{
      height: 60vh;
    }
    .resume-editor-container{
      width: 100%;
    }
  }